*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.background {
    background-color: #87f3ff;
    background-color: #1f5d61;
    
    background-color: #ffa0a0;
    background-color: #611f1f;

    background-color: #b0ffc5;
    background-color: #1f6129;

    position: relative;
    background-color: #4af778;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: -2;
}

.background_bottom {
    top: 36vw;
    width: 90vw;
    height: 9vw;
    position: absolute;
    border-radius: 1vw;
    background-color: #1f6129;
    box-shadow: 0.3vw 0.3vw 0px rgb(0, 0, 0, 0.25);
    z-index: -1;
}

.canvas_container {
    position: absolute;
    top: 3vw;
    margin: auto;
    width: 70%;
    height: 60%;
    background-color: #fff;
    border-radius: 2vw;
    box-shadow: 0.8vw 0.8vw 0px rgb(0, 0, 0, 0.5);
}

.toolbar {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    text-align: center;
    height: 10vw;
    width: 100%;
    margin: 0;
}

.toolbar_support {
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 10vw;
    width: 100%;
    margin: 0;
}

.toolbar h1 {
    position: relative;
    top: 0.8vw;
    font-size: 1vw;
    letter-spacing: .5vw;
    color: white;
}

.toolbar a {
    text-decoration: none;
}

.toolbar_button {
    position: relative;
    top: 2vw;
    margin: 1vw;
    font-size: 1vw;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    padding: .5vw;
    box-shadow: 0.4vw 0.4vw 0px rgb(0, 0, 0, 0.5);
}

.toolbar_button:hover {
    background-color: rgb(180, 180, 180);
}

#brush_slider {
    position: absolute;
    top: 6vw;
    left: 43.5vw;
}

#toggle {
    position: absolute;
    left: 2vw;
    bottom: 5vw;
    display: inline-block;
    width: 2vw;
    height: 2vw;
}