*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    scroll-behavior: smooth;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #4A98F7;
}

.canvas_container {
    position: relative;
    top: 3vw;
    margin: auto;
    width: 90%;
    height: 65%;
    background-color: #fff;
    border-radius: 2vw;
}

.toolbar {
    position: absolute;
    bottom: 0;
    background-color: #1f3c61;
    text-align: center;
    height: 10vw;
    width: 100%;
    margin: 0;
}

.toolbar h1 {
    position: relative;
    top: 2.5vw;
    color: white;
    
}

.toolbar_button {
    position: relative;
    top: 4vw;
    margin: 1vw;
    font-size: 1vw;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    padding: .5vw;
  }