*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.background {
    position: relative;
    background-color: #4af778;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.background-bottom-1 {
    position: absolute;
    bottom: 2vw;
    left: 18vw;
    width: 20vw;
    height: 9vw;
    border-radius: 1vw;
    box-shadow: 0.3vw 0.3vw 0px rgb(0, 0, 0, 0.25);
    z-index: 0;
}

.background-bottom-2 {
    position: absolute;
    margin: auto;
    bottom: 2vw;
    right: 40vw;
    width: 20vw;
    height: 9vw;
    border-radius: 1vw;
    box-shadow: 0.3vw 0.3vw 0px rgb(0, 0, 0, 0.25);
    z-index: 0;
}

.background-bottom-3 {
    position: absolute;
    bottom: 2vw;
    right: 18vw;
    width: 20vw;
    height: 9vw;
    border-radius: 1vw;
    box-shadow: 0.3vw 0.3vw 0px rgb(0, 0, 0, 0.25);
    z-index: 0;
}

.drawing-board {
    position: absolute;
    top: 3vw;
    margin: auto;
    width: 70%;
    height: 60%;
    background-color: #fff;
    border-radius: 2vw;
    box-shadow: 0.8vw 0.8vw 0px rgb(0, 0, 0, 0.5);
}

.toolbar {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    text-align: center;
    height: 10vw;
    width: 100%;
    margin: 0;
}
/* 
.toolbar-support {
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 2vw;
    width: 100%;
    margin: 0;
    background-color: #1f5d61;
} */

.toolbar h1 {
    position: relative;
    bottom: 2.5vw;
    font-size: 1.5vw;
    letter-spacing: .5vw;
    color: white;
    font-weight: 700;
}

.toolbar a {
    text-decoration: none;
}

.option {
    position: relative;
    top: 0vw;
    margin: 1vw;
    font-size: 0.8vw;
    background-color: white;
    color: black;
    border: 0.15vw solid #4CAF50; /* Green */
    padding: .5vw;
    box-shadow: 0.4vw 0.4vw 0px rgb(0, 0, 0, 0.5);
    border-radius: 0.75vw;
}

#eraser {
    left: 9.5vw;
}


.colors .option {
    position: relative;
    top: 0vw;
    margin: 0.5vw;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    padding: .6vw;
    box-shadow: 0.4vw 0.4vw 0px rgb(0, 0, 0, 0.5);
    border-radius: 0vw;
}

.option:hover {
    cursor: pointer;
    background-color: rgb(180, 180, 180);
}

.option:active {
    background-color: rgb(133, 133, 133);
}

#brush-slider {
    position: absolute;
    bottom: 1.5vw;
    left: 5.75vw;
}

#color-picker {
    position: relative;
    top: 1vw;
}

#toggle {
    position: absolute;
    left: 2vw;
    bottom: 5vw;
    display: inline-block;
    width: 2vw;
    height: 2vw;
}

#drawing-board {
    width: 100%;
    height: 100%;
    border-radius: 2vw;
}

.colors {
    position: absolute;
    width: 100%;
    bottom: 1vw;
}

.tools {
    position: absolute;
    left: 1vw;
    bottom: 5vw;
    z-index: 5;
}

.shapes {
    position: absolute;
    left: 1vw;
    bottom: 5vw;

}

.other {
    position: absolute;
    left: 1vw;
    bottom: 5vw;
}

.colors .option:nth-child(1) {
    background-color: #fff;
    border: 1px solid #bfbfbf;
}

.colors .option:nth-child(2) {
    background-color: #000;
}

.colors .option:nth-child(3) {
    background-color: #E02020;
}

.colors .option:nth-child(4) {
    background-color: #6DD400;
}

.colors .option:nth-child(5) {
    background-color: #4A98F7;
}

.colors .option:nth-child(6) {
    background-color: #fff;
}

.colors .option:hover {
    cursor: pointer;
}

.colors .option:active {
    /* background-color: rgb(133, 133, 133); */
}